###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Docker ###
/docker/
docker-compose.override.yml
###< Docker ###


###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

backup.sh
restore.sh

backup_serveur.sh
restore_serveur.sh
restore_serveur_isoled.sh

backups
restores

###> il faut enlever le suivi sur github sinon il écrase le .env de prod###
docker-compose.yml

# Fichiers Claude/Byan
_byan/
_byan-output/
.claude/

.env
secrets/

.github/agents/
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
